<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlntS_iNa3CguaudZZmVVhXnuxxPu-aH8</string>
	<key>GCM_SENDER_ID</key>
	<string>324005805909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iqProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>urban-tickets-c05e6</string>
	<key>STORAGE_BUCKET</key>
	<string>urban-tickets-c05e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324005805909:ios:35e19444df86551b4679dc</string>
</dict>
</plist>